html{
  font-size: 18px;
  color: white;
  font-family: Helvetica;
}
.container{
  width: 960px;
  margin: 0 auto;
}
header{
  background-color:black;
  padding: .66rem;
}
.logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto 0;
}
.logo img{
  height:1.5rem;
  margin: 0 1rem 0 .5rem;
}
.logo span{
  font-size: 1rem;
}
.new-arrival h1{
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
  margin-top: .50rem;
}
#hero{
  background-image: url("../images/moto.jpeg");
  height:25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.new-arrival{
  width: 20rem;
  background: black;
  opacity: .8;
  padding:2rem 0 3rem 2rem;
  position: relative;
  top: 10rem;
}
nav{
  background-color: firebrick;
}
nav .container{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}
nav span{
  display: inline-block;
  margin: 1rem 0;
  font-size: .90rem;
}
nav a{
  color: white;
  text-decoration: none;
}
nav a:hover{
  color: lightgrey;
}
.mobile-nav{
  display: none;
}
.products{
  padding: 3rem 0 0 0;
  display: flex;
  justify-content:space-between;
}
.product{
  width: 30%;
}
.item-image{
  border: 4px solid black;
  height:9rem;
  padding: 2rem 0;
  display:flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}
.item-image img{
  height:9rem;
}
.glasses img{
  height:6rem;

}
.description{
 padding: .5rem 0;
 background-color: black;
 text-align: center;
}
.store-info{
  display: flex;
  padding-top:3rem 0 0 0;
  justify-content: space-between;
  flex-direction: row;
}
.info{
  width: 35%;
  padding:3rem 0 4rem 0;
}
.info-top{
  background-color: black;
  padding: 1rem 0 1rem 2rem;
}
.info-bottom{
  color:black;
}
footer{
  display: flex;
  justify-content:flex-start;
  height: 10rem;
  align-items: center;
  text-align: left;
  background-color: black;
}

@media only screen and (max-width: 1024px){
.container{
  width: 90%
}
nav span{
  display: none;
}
.mobile-nav {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
}
.mobile-nav span{
  display: inline-block;
  margin: 1rem 0;
  font-size: .90rem;
}
.product{
  width: 47%;
}
.glasses{
  display: none;
}
.info{
  width: 35%;
}
}

@media only screen and (max-width: 470px){
.container{
  width: 90%;
}
#hero{
  height:15rem;
}
.new-arrival h1{
  font-size: 1rem;
}
.new-arrival{
  width: 100%;
  padding:1rem 0 1rem 2rem;
  top: 10.5rem;


}
.products{
  justify-content:center;
}
.product{
  width: 90%;
  align-items: center;
}
.watch{
  display: none;
}
.store-info{
  display: flex;
  margin: 2rem 0 3rem 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.info{
  width: 90%;
  padding: .5rem 0 .5rem 0;
}
.item-image img{
  height:8rem;
}
